[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
requests = "*"
bs4 = "*"
numpy = "*"
nltk = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
scipy = "*"
selenium = "*"
lxml = "*"
lab = "*"

[dev-packages]

[requires]
python_version = "3.8"
